@media screen and (max-width: 720px) {
    
    body{
        background: url(new.jpg);
        background-color: whitesmoke;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;
    }    
}

@media screen and (min-width: 992px) {
    body{
        background: url(job.jpg);
        background-color: lightskyblue;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: center;
    }
}

h2{
    font-size: 32px;
    font-family: monospace;
    text-decoration: underline;
    margin-bottom: 12px;
}

.job{
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color : black;
    font-family: monospace;
    width:90%;
    left:5%;
    margin:24px 0px;
    font-size: 18px;
    padding: 24px;
}

.job p bold{
    font-weight: bold;
    display: inline;
}
